@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
}

.hash-span {
  margin-top: -100px;
  padding-bottom: 100px;
  display: block;
}

.black-gradient{
  background: black;
}

.white-gradient {
  background: #ffffff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    hsl(0, 0%, 100%),
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #ffffff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.white-gradient {
  background: #ffff;
  background: linear-gradient(-90deg, #fff 0%, rgba(60, 51, 80, 0) 100%);
  background: -webkit-linear-gradient(
    -90deg,
    #88abe4 0%,
    #fff 50%,
    rgba(60, 51, 80, 0) 100%
  );
}

.green-pink-gradient {
  background: "#00cea8";
  background: linear-gradient(90.13deg, #08CC35 2.5%, #88abe4 95.5%);
  background: -webkit-linear-gradient(-90.13deg, #08CC35 2.5%, #88abe4 95.5%);
}

.orange-text-gradient {
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f12711,
    #f5af19
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.green-text-gradient {
  background: #08CC35; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #11998e,
    #08CC35
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #11998e,
    #08CC35
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.red-text-gradient {
  background: #db4141; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #991111,
    #db4141
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #991111,
    #db4141
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yellow-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #f4f0a1; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffe600,
    #f4f0a1
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffe600,
    #f4f0a1
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.blue-text-gradient {
  /* background: -webkit-linear-gradient(#eee, #333); */
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #2f80ed,
    #56ccf2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pink-text-gradient {
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ec008c,
    #fc6767
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content{
  animation: fade-in 1s ease-in-out;
}

.rotate{
  transform: rotate(-10deg);
  transition: 0.75s;
}

.rotate:hover{
  transform: scale(1.1);
}

@keyframes fade-in{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.about-card{
  transition: 0.75s;
}

.about-card:hover{
  transform: scale(1.1);
  /* transition: 0.75; */
}

.transparent{
  background-color: rgba(255, 255, 255, 0);
  border-radius: 10px;
  backdrop-filter: blur(1px);
  border: 2px solid rgba(255, 255, 255, 0.074);
  padding:50px 50px;
}

/* scrolling bar */
.scroller {
  max-width: 900px;
  position: relative;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 60s)
    var(--_animation-direction, forwards) linear infinite;
}


.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 60s;
}


@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

#scroller_body {
  display: grid;
  /* place-content: center; */
  font-family: system-ui;
  font-size: 1.125rem;
  color: white;
  
}

.tag-list {
  margin: 0;
  padding-inline: 0;
  list-style: none;
}

*::-webkit-scrollbar{
  display: none;
}